body{
  background-color: #212121;
  height: 100vh;
}

#root, .page{
  height: 100%;
  min-height: 100%;
}

* {
  color: white;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  min-height: 100%;
}

.back {
  width: 100%;
  height: 100%;
}

.wrapper{
  padding: 3% 5% 0 5%;
  min-width: 800px;
  min-height: 85%;
}

/******************************** Until Default **********************************/

/* Tools */

.gradient{
  background: linear-gradient(90deg, #ee0979, #ff6a00);
  color: transparent;
  -webkit-background-clip: text;
}

.gradient-bold{
  background: linear-gradient(90deg, #ee0979, #ff6a00);
  color: transparent;
  -webkit-background-clip: text;
  font-weight: bolder;
}

/* ----- */

/******************************** start-nav **********************************/

.nav{
  min-width: 440px;
  width: 20%;
  height: 100%;
  display: flex;
}

.nav-left{
  width: 20%;
  max-width: 20%;
  height: 100%;
}

.nav-left > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-left > ul > li{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid grey;
}

.nav-left > ul > li > .link:hover{
  filter: opacity(0.5) drop-shadow(0 0 0 #3498db);
}

.nav-name{
  font-size: 13px;
}

.nav-right{
  width: 80%;
  max-width: 80%;
  height: 100%;
  background-color: #444444;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav-right > div:first-child{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-right > div:first-child > .profileImage{
  background-color: white;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url("../public/images/image-profile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}

.nav-right > div:first-child > .name {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #f5f5f5;
}

.to-be{
  color: #bababa;
}

.nav-right > div:first-child > .social{
  margin-top: 30px;
}

.nav-right > div:first-child > .social > ul > li:hover{
  filter: opacity(0.4) drop-shadow(0 0 0 white);
}

.nav-right > div:last-child{
  height: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.nav-right > div:last-child > p{
  margin: 8px;
}

.copy {
  padding-right: 15px;
  font-size: 13px;
}

/******************************** end-nav **********************************/


/******************************** start-home **********************************/

.home{
  width: 80%;
  min-width: 660px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home > div {
  margin-bottom: 200px;
}

.home > div {
  width: 600px;
}

.home > div > p:first-child {
  font-size: 60px;
  margin: 5px;
  border-bottom: 1px solid grey;
}

.home > div > p:nth-child(2){
  font-size: 20px;
  margin-top: 10px;
  margin-left: 30px;
  background: linear-gradient(90deg, #ee0979, #ff6a00);
  color: transparent;
  -webkit-background-clip: text;
}

.home > div > p:last-child{
  margin-left: 35px;
  font-size: 15px;
}

/******************************** end-home **********************************/


/******************************** start-about **********************************/

.about-wrapper {
  display: flex;
  flex-direction: column;
  height: 90%;
}

#div-aboutMe {
  width: 100%;
  height: 30%;
}

#div-aboutMe > .title{
  font-size: 35px;
  font-weight: bolder;
}

#div-aboutMe > #content {
  display: flex;
}

#div-aboutMe > #content > #content-left {
  width: 65%;
  margin-right: 5%;
}

#div-aboutMe > #content > #content-right {
  width: 30%;
}

#div-aboutMe > #content > #content-right > ul > li {
  width: 100%;
  margin: 0 0 30px 0;
  display: flex;
}

#div-aboutMe > #content > #content-right > ul > li  > span:first-child{
  width: 20%;
  text-align: right;
}

#div-aboutMe > #content > #content-right > ul > li  > span:last-child {
  font-weight: bold;
  padding-left: 30px;
}

#div-whatICanDo {
  display: flex;
  padding-top: 5%;
  height: 60%;
  flex-direction: column;
  width: 100%;
}

#div-whatICanDo > .title{
  font-size: 25px;
  font-weight: bolder;
}

#canDoIt-top {
  display: flex;
  /*height: 50%;*/
  margin-bottom: 30px;
}

#canDoIt-bottom {
  display: flex;
  /*height: 50%;*/
}

.canDoIt {
  width: 50%;
  height: 100%;
  padding: 20px 0 0 10px;
}

.doIt-title{
  font-weight: bold;
  margin-bottom: 10px;
}

.doIt-content{
  padding-left: 10px;
}

/******************************** end-about **********************************/




